.card {
  max-width: 300px;


}

.card-image {
  object-fit: cover;
  object-position: center center;
  height: 300px;
}

.card-title{
  color: white;
  padding: 0 !important;
  font-size: large;
}

.card-subtitle{
  padding: 0 !important;

}
