.card {
<<<<<<< HEAD
  max-width: 300px;
=======
>>>>>>> d8d17ee3e81de15705ad1e0dac974d369ac75f7c


}

.card-image {
  object-fit: cover;
  object-position: center center;
<<<<<<< HEAD
  height: 300px;
=======
  height: 360px;
>>>>>>> d8d17ee3e81de15705ad1e0dac974d369ac75f7c
}

.card-title{
  color: white;
<<<<<<< HEAD
  padding: 0 !important;
=======
  padding: 0px !important;
>>>>>>> d8d17ee3e81de15705ad1e0dac974d369ac75f7c
  font-size: large;
}

.card-subtitle{
<<<<<<< HEAD
  padding: 0 !important;

=======
  padding: 0px !important;
>>>>>>> d8d17ee3e81de15705ad1e0dac974d369ac75f7c
}
